@page
@model IndexModel
@{
    ViewData["Title"] = "Путешествия с нами!";
}

<div class="text-center" style="background-color: rgba(0, 0, 0, 0.6); width: 120%; padding: 20px; position: relative; left: 50%; transform: translateX(-50%);">
    <h1 class="display-4" style="color:white">Добро пожаловать в наш мир путешествий!</h1>
    <p class ="lead"style="color:white; text-align: left;">Мы - команда любителей путешествий, которые разделяют страсть к исследованию различных уголков мира. Наш сайт создан для того, чтобы поделиться с вами нашими приключениями и вдохновить вас отправиться в свои собственные увлекательные путешествия.</p>
    <p class="lead" style="color:white; text-align: left;">На странице "О нас" вы найдете информацию о нашей команде, наших ценностях и целях. Мы стремимся предоставить вам самую полезную и интересную информацию о различных странах, городах, достопримечательностях, местных обычаях, культуре и многом другом.</p>
    <p class="lead" style="color:white;">Присоединяйтесь к нам в нашем увлекательном путешествии и откройте для себя мир вместе с нами!</p>
</div>

