@page
@model PrivacyModel
@{
    ViewData["Title"] = "Путешествия";
}

<div class="text-center" style="background-color: rgba(0, 0, 0, 0.6); color: white; width: 120%; padding: 20px; position: relative; left: 50%; transform: translateX(-50%);">
<p>Добро пожаловать на страницу "Путешествия"! Здесь вы найдете множество вариантов для своих будущих приключений. Мы предлагаем широкий выбор путевок, экскурсий и туров, которые помогут вам испытать незабываемые впечатления.</p>

<h2>Наши популярные путешествия:</h2>

<p>
    <p>1. Тайны майя в Мексике</p>
    <p>2. Сафари в Африке</p>
    <p>3. Велосипедный тур по Европе</p>
    <p>4. Путешествие в Экзотическую Азию</p>
</p>

<p>На странице "Путешествия" вы найдете подробную информацию о каждом из этих путешествий, включая длительность, стоимость и основные достопримечательности каждого маршрута. Мы также предоставляем возможность связаться с нами для получения дополнительной информации и бронирования.</p>

<p>Приготовьтесь к незабываемым приключениям! Присоединяйтесь к нашей команде и отправляйтесь в путешествие вашей мечты.</p>
</div>